<!DOCTYPE html>
<html>
  <head>
    <title>Quantarrior - Quantum Warrior</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="centered">
      <h1 class="name"><%= @name %></h1>
    </div>
  </body>
</html>

